<p id="notice"><%= notice %></p>
<%= @reaction %><br />
<h1>Listing References</h1>
<br/>
<%= @res.body %>
<br/>
<%= link_to 'New Reference', new_reference_path %>
<a href="references/reflist/12">test<a/>
